@page "/"
@using Microsoft.EntityFrameworkCore
@using OpenTracker.Data
@using OpenTracker.Data.Models
@using OpenTracker.Data.Services
@using System.Security.Claims
@inject Scryfall Scryfall
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject IJSRuntime JS


@rendermode InteractiveServer


<PageTitle>Home</PageTitle>





<div class="SessionContainer container">
    <div class="SessionOptions">
        @if (ActiveUser is not null)
        {
            <button class="btn btn-primary" @onclick="CreateSession">New Session</button>

            @if (ActiveSession is not null)
            {
                <a href="/report/{@ActiveSession.SessionId}" class="btn btn-primary" target="_blank">Generate Report</a>
                <button class="btn btn-danger" @onclick="DeleteSession">Delete Session</button>
            }
        }
        <br />
        @if (UserSessions is not null)
        {
            <div class="SessionList">
                <ul>
                    @foreach (var session in UserSessions)
                    {
                        <li class="btn btn-primary" @onclick="() => ChangeSession(session)">@session.SessionName</li>
                    }
                </ul>

            </div>
        }
    </div>


    @if (ActiveSession is not null){
        <h3>@ActiveSession.SessionName - $@ActiveSession.TotalPrice</h3>
        <div>
            <InputText class="form-control" @bind-Value="TextInput"></InputText>
            <button @onclick="SearchCards">Search</button>
        </div>
        <div class="CardContainer" style="display: flex; flex-wrap: wrap; gap: 10px">
            @if(CardsInSession is not null){
                @foreach (var card in CardsInSession)
                {
                    <div class="card" onclick="">
                        <h5>@card.Key.Name - $@card.Key.Price</h5>
                        <a target="_blank" href="@card.Key.CardURL">
                            <img src="@card.Key.ImageURL" alt="@card.Key.Name" />
                        </a>
                        <div class="cardQuantity" style="display: flex; flex-wrap: wrap; gap: 10px">
                            <button class="btn btn-danger" @onclick="() => SubtractCardToSession(card.Key)">-</button>
                            <h6>@card.Value</h6>
                            <button class="btn btn-success" @onclick="() => AddCardToSession(card.Key)">+</button>
                        </div>
                    </div>
                }
            }
        </div>

    }
</div>

<div class="CardViewer">
    @if(ReturnedCards is not null){
        @foreach (var card in ReturnedCards)
        {
            <div class="card">
                <h6>@card.Name - $@card.Price</h6>
                <a target="_blank" href="@card.CardURL">
                    <img src="@card.ImageURL" alt="@card.Name" />
                </a>
                <button class="btn btn-primary" @onclick="() => AddCardToSession(card)">Add</button>
            </div>
        }
    }
</div>

@code {
    public string TextInput { get; set; }
    List<Card> ReturnedCards { get; set; }
    Dictionary<Card, int> CardsInSession { get; set; }
    List<Session> UserSessions { get; set; }
    public bool SessionActive { get; set; }
    public Session ActiveSession { get; set; }
    private ApplicationUser ActiveUser { get; set; }

    /// <summary>
    /// A list of all CardSessions for the current ActiveSession
    /// </summary>
    List<CardSession> CardSessionUnion = new List<CardSession>();

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {

        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            using var context = await DbContextFactory.CreateDbContextAsync();
            ActiveUser = await context.Users.Where(u => u.UserName == user.Identity.Name).FirstOrDefaultAsync();

            if(ActiveUser is not null){
                //TODO: Find most recent session and check if it has a closed date, if not then set it as ActiveSession
                UserSessions = await context.Sessions.Where(u => u.SessionOwnerId == ActiveUser.Id).OrderBy(s => s.LastUpdated).ToListAsync();
                // if (UserSessions is not null)
                // {
                //     bool MessagePrompt;

                //     MessagePrompt = await JS.InvokeAsync<bool>("confirm", "Would you like load the previous session?");

                //     if (MessagePrompt)
                //     {
                //         ActiveSession = UserSessions.Last();
                //     }

                // }

            }

        }


        SessionActive = false;
        ReturnedCards = new List<Card>();

    }

    private async Task SearchCards()
    {
        //TODO: If only one card is returned, add it to the session

        ReturnedCards = await Scryfall.SearchForCardAsync(TextInput);

        if(ReturnedCards.Count == 0){
            await JS.InvokeVoidAsync("alert", "No cards with that name found");
        }
        else if(ReturnedCards.Count == 1){
            AddCardToSession(ReturnedCards.First());
        }

        //TODO: Clear the search bar

        TextInput = "";
        StateHasChanged();

    }

    private async void AddCardToSession(Card card)
    {

        using var context = await DbContextFactory.CreateDbContextAsync();

        int quantity = 0;
        if (CardsInSession.TryGetValue(card, out quantity)){
            var cardSession = CardSessionUnion.Where(c => c.Card.CardId == card.CardId).FirstOrDefault();
            ActiveSession.TotalPrice += card.Price.Value >= 0 ? card.Price.Value : 0;

            cardSession.CardQuantity += 1;

            CardsInSession[card] += 1;

            context.Update(cardSession);
            context.Update(ActiveSession);
        }
        else{
            CardSession NewCardSession = new CardSession(){
                CardId = card.CardId,
                CardQuantity = 1,
                SessionId = ActiveSession.SessionId
            };


            ActiveSession.TotalPrice += card.Price.Value >= 0 ? card.Price.Value : 0;
            context.Update(ActiveSession);
            context.CardSessions.Add(NewCardSession);

            NewCardSession.Card = card;

            CardSessionUnion.Add(NewCardSession);
            CardsInSession.Add(card, 1);
        }

        await context.SaveChangesAsync();
        ReturnedCards = null;
        StateHasChanged();

    }

    private async void SubtractCardToSession(Card card){
        int quantity = 0;
        using var context = await DbContextFactory.CreateDbContextAsync();
        if (CardsInSession.TryGetValue(card, out quantity))
        {
            ActiveSession.TotalPrice -= card.Price.Value >= 0 ? card.Price.Value : 0;
            var cardSession = CardSessionUnion.Where(c => c.Card.CardId == card.CardId).FirstOrDefault();
            if(quantity <= 1){
                context.CardSessions.Remove(cardSession);
                CardSessionUnion.Remove(cardSession);
                CardsInSession.Remove(cardSession.Card);
            }
            else{
                cardSession.CardQuantity -= 1;
                CardsInSession[card] -= 1;
                context.Update(cardSession);
            }
            context.Update(ActiveSession);
            await context.SaveChangesAsync();
            StateHasChanged();
        }

    }

    private async void CreateSession()
    {
        if(ActiveSession is not null){
            //TODO: Popup warning that this will close a previous session but that the user can view previous sessions from their profile
        }
        else{
            using var context = await DbContextFactory.CreateDbContextAsync();
            string SessionName = "";

            SessionName = await JS.InvokeAsync<String>("prompt", "Would you like to add a name to the new session? \n(Leave blank for default)");

            if(SessionName is null){
                //TODO: Cancel out of function
                return;
            }

            var NewSession = new Session
                {
                    SessionOwnerId = ActiveUser.Id,
                    SessionName = SessionName != "" ? SessionName : $"{DateTime.Now} Session",
                    SessionStarted = DateTime.Now,
                    LastUpdated = DateTime.Now
                };

            context.Sessions.Add(NewSession);
            await context.SaveChangesAsync();
            //TODO: Figure out if I want to piggy back off of ActiveSession to store the current session. Probably do, not many reasons not to but...
            UserSessions.Add(NewSession);
            ChangeSession(NewSession);

            StateHasChanged();
        }
    }

    private async void DeleteSession(){
        if (ActiveSession is not null)
        {
            bool DeleteSession = false;

            DeleteSession = await JS.InvokeAsync<bool>("confirm", "Are you sure you want to delete this session?");

            if(DeleteSession){
                using var context = await DbContextFactory.CreateDbContextAsync();

                UserSessions.Remove(ActiveSession);

                context.Remove(ActiveSession);

                await context.SaveChangesAsync();

                ActiveSession = null;

                StateHasChanged();
            }
        }
    }

    private async void ChangeSession(Session session)
    {
        using var context = await DbContextFactory.CreateDbContextAsync();
        if(ActiveSession is not null && ActiveSession.SessionId == session.SessionId){
            ActiveSession = null;
            return;
        }
        ActiveSession = session;

        CardSessionUnion = await context.CardSessions.Where(s => s.SessionId == session.SessionId).Include(c => c.Card).ToListAsync();
        CardsInSession = new Dictionary<Card, int>();
        foreach (var card in CardSessionUnion)
        {
            CardsInSession.Add(card.Card, card.CardQuantity);
        }

    }
}